name: Run pure unit tests
on:
  workflow_call:
    inputs:
      package_root:
        type: string
        required: false
        default: ''
        description: "Specifies a subpath of the checkout to run tests and upload coverage from."
      test_filter:
        type: string
        required: false
        default: ''
        description: "Apply a --filter to the tests that will be run."
      with_coverage:
        type: boolean
        required: false
        default: true
        description: "Set to 'true' to collect and upload code coverage data. Defaults to 'false'."
      with_tsan:
        type: boolean
        required: false
        default: true
        description: "Set to 'true' to run tests with Thread Sanitizer. Defaults to 'true'."
      warnings_as_errors:
        type: boolean
        required: false
        default: false
        description: "Set to 'true' to treat warnings as errors. Defaults to 'false'."
      with_api_check:
        type: boolean
        required: false
        default: true
        description: "Set to 'true' to run the SwiftPM public API breakage check. Defaults to 'true'."
      with_gh_codeql:
        type: boolean
        required: false
        default: true
        description: "Set to 'true' to run CodeQL checks. Defaults to 'true'."
      with_deps_submission:
        type: boolean
        required: false
        default: true
        description: "Set to 'true' to submit a dependency graph to Github. Defaults to 'true'."
      with_linting: 
        type: boolean
        required: false
        default: false
        description: "Set to 'true' to run swift-format's lint process. Defaults to 'false'."
      with_windows:
        type: boolean
        required: false
        default: false
        description: "Set to 'true' to run tests on Windows. Defaults to 'false'."
      extra_flags:
        type: string
        required: false
        default: ''
        description: "Additional 'swift test' flags to be applied on when testing on all platforms."
    secrets:
      CODECOV_TOKEN:
        required: false
env:
  PACKAGE_ROOT: ${{ inputs.package_root != '' && format('--package-path={0}', inputs.package_root) || '' }}
  EXTRA_FLAGS:  ${{ inputs.extra_flags }}
  WITH_TSAN: ${{ inputs.with_tsan && '--sanitize=thread' || '' }}
  WARNINGS_AS_ERRORS: ${{ inputs.warnings_as_errors && '-Xswiftc -warnings-as-errors' || '' }}
  TEST_FILTER:  ${{ inputs.test_filter != '' && format('--filter={0}', inputs.test_filter) || '' }}
  WITH_COVERAGE: ${{ inputs.with_coverage && '--enable-code-coverage' || '' }}

jobs:
  api-breakage:
    if: ${{ inputs.with_api_check && github.event_name == 'pull_request' && !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    container: swift:noble
    timeout-minutes: 30
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with: { 'fetch-depth': 0 }
      - name: Run API breakage check
        run: |
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          swift package ${PACKAGE_ROOT} diagnose-api-breaking-changes origin/main ${EXTRA_FLAGS}
  
#   gh-codeql:
#     if: ${{ inputs.with_gh_codeql && !(github.event.pull_request.draft || false) }}
#     runs-on: ubuntu-latest
#     permissions: { actions: write, contents: read, security-events: write }
#     timeout-minutes: 30
#     steps:
#       - name: Install latest Swift toolchain
#         uses: vapor/swiftly-action@v0.1
#         with: { toolchain: latest }
#       - name: Check out code
#         uses: actions/checkout@v4
#       - name: Fix Git configuration
#         run: 'git config --global --add safe.directory "${GITHUB_WORKSPACE}"'
#       - name: Initialize CodeQL
#         uses: github/codeql-action/init@v3
#         with: { languages: swift }
#       - name: Perform build
#         run: 'swift build ${PACKAGE_ROOT} ${EXTRA_FLAGS}'
#       - name: Run CodeQL analyze
#         uses: github/codeql-action/analyze@v3
  
  linux-unit:
    if: ${{ !(github.event.pull_request.draft || false) }}
    strategy:
      fail-fast: false
      matrix:
        swift-image:
          - swift:5.9-jammy
          - swift:5.10-noble
          - swift:6.0-noble
          - swiftlang/swift:nightly-main-jammy
    runs-on: ubuntu-latest
    container: ${{ matrix.swift-image }}
    timeout-minutes: 60
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Check Swift compatibility
        id: swift-check
        uses: vapor/ci/.github/actions/check-compatible-swift@main
        with:
          package_root: ${{ inputs.package_root }}
      - name: Run unit tests
        if: ${{ steps.swift-check.outputs.swift-compatible == 'true' }}
        run: |
          SWIFT_DETERMINISTIC_HASHING=1 \
          swift test \
            ${PACKAGE_ROOT} \
            ${WITH_TSAN} \
            ${WARNINGS_AS_ERRORS} \
            ${WITH_COVERAGE} \
            ${TEST_FILTER} \
            ${EXTRA_FLAGS}
      - name: Upload coverage data
        if: ${{ (steps.swift-check.outputs.swift-compatible == 'true') && inputs.with_coverage }}
        uses: vapor/swift-codecov-action@v0.3
        with:
          codecov_token:    ${{ secrets.CODECOV_TOKEN || '' }}
          package_path:     ${{ inputs.package_root }}
          build_parameters: ${{ inputs.extra_flags }}

  macos-unit:
    if: ${{ !(github.event.pull_request.draft || false) }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - macos-version: macos-13
            xcode-version: '~15.2'
          - macos-version: macos-14
            xcode-version: latest-stable
    runs-on: ${{ matrix.macos-version }}
    timeout-minutes: 60
    steps:
      - name: Select appropriate Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode-version }}
      - name: Check out code
        uses: actions/checkout@v4
      - name: Check Swift compatibility
        id: swift-check
        uses: vapor/ci/.github/actions/check-compatible-swift@main
        with:
          package_root: ${{ inputs.package_root }}
      - name: Run unit tests
        if: ${{ steps.swift-check.outputs.swift-compatible == 'true' }}
        run: |
          SWIFT_DETERMINISTIC_HASHING=1 \
          swift test \
            ${PACKAGE_ROOT} \
            ${WITH_TSAN} \
            ${WITH_COVERAGE} \
            ${TEST_FILTER} \
            ${EXTRA_FLAGS}
      - name: Upload coverage data
        if: ${{ (steps.swift-check.outputs.swift-compatible == 'true') && inputs.with_coverage }}
        uses: vapor/swift-codecov-action@v0.3
        with:
          codecov_token:    ${{ secrets.CODECOV_TOKEN || '' }}
          package_path:     ${{ inputs.package_root }}
          build_parameters: ${{ inputs.extra_flags }}

  windows-unit:
    if: ${{ !(github.event.pull_request.draft || false) && inputs.with_windows }}
    strategy:
      fail-fast: false
      matrix:
        swift-version:
          # - 5.9
          # - 5.10
          - 6.0
        include:
          # - { swift-version: 5.9, swift-branch: swift-5.9.2-release, swift-tag: 5.9.2-RELEASE }
          # - { swift-version: 5.10, swift-branch: swift-5.10.1-release, swift-tag: 5.10.1-RELEASE }
          - { swift-version: 6.0, swift-branch: swift-6.0.1-release, swift-tag: 6.0.1-RELEASE }
    runs-on: windows-latest
    timeout-minutes: 60
    steps:
      - name: Install Windows Swift toolchain
        uses: compnerd/gha-setup-swift@main
        with:
          branch: ${{ matrix.swift-branch }}
          tag: ${{ matrix.swift-tag }}
      - name: Check out code
        uses: actions/checkout@v4
      - name: Run unit tests
        run: |
          SWIFT_DETERMINISTIC_HASHING=1 swift test ${PACKAGE_ROOT} ${WITH_TSAN} ${TEST_FILTER} ${EXTRA_FLAGS}

  lint:
    if: ${{ inputs.with_linting }}
    runs-on: ubuntu-latest
    container: swift:6.0-noble
    timeout-minutes: 30
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Read config file 
        # if .swift-format is not provided in the repo, use the default config file from CI
        run: |
          if [ ! -f .swift-format ]; then
            echo "No .swift-format file found, using default configuration."
            apt-get update && apt-get install -y curl
            curl -O https://raw.githubusercontent.com/vapor/contributing/refs/heads/main/.swift-format
          fi
      - name: Lint
        run: swift-format lint --recursive --strict --parallel .
